@model IEnumerable<ConfisaApp.Models.Dealer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (!User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RNC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oficial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RNC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oficial.Nombre)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @if (!item.Activado)
                    {
                        <a asp-action="Activar" asp-route-id="@item.Id" class="btn btn-info mx-1">Activar</a>
                    }
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-1">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
